.textNode{
    display:flex;
    width:250px;
    height:250px;
    overflow:hidden;
    flex-wrap:wrap;
    box-sizing:content-box;
    padding:15px;
    border-radius:150px;
    border:1px solid black;
    align-items:center;
    justify-content:center;
}

.textNode:hover{
    cursor:grab;
}

.textNode .title{
    font-weight:bold;
    text-align:center;
    width:100%;
    margin:0px;
}

.textNode .text{
    width: 70%;
    height: 60%;
    overflow-y:scroll;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
}