body {
    margin: 0px;
    background: #ffffff;
}

textarea{
    resize: none;
}

.h_cent{
    margin-left:auto;
    margin-right:auto;
}

.v_cent{
    margin-top:auto;
    margin-bottom:auto;
}

.fc{
    display:flex;
    flex-direction: column;
}

.fr{
    display:flex
}

.ac{
    align-items:center
}

.tt_cent{
    text-align: center;
}

