{% extends 'core/starter.html' %}
{% load compress %}
{% load static %}

{% block head %}

    <link type="text/css" rel="stylesheet" href="{% static "core/css/home.css"%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js" crossorigin="anonymous"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>

{% endblock %}

{% block body %}
    <div id="home_wrapper">
        <div id="top_block" class="page_start">
            <div id="browse_heading" class="fr ac">
                <small></small>
                <object class="open_link off" type="image/svg+xml" data="{% static 'icons/open_box.svg' %}">open collection</object>
                <a></a>
                <object class="open_link off" type="image/svg+xml" data="{% static 'icons/open_box.svg' %}">open collection</object>
            </div>
            <div id="center_scene" class="v_cent h_cent">
            <div id="ar_button"></div>
            </div>
                <button class="go_back off phone_version">
                <object type="image/svg+xml" data="{% static 'icons/back-arrow.svg' %}">open collection</object>
            </button>
            <div id="site_heading" class="fc ac">
                <h1>WR POETS</h1>
                <button id="verse">explore</button>
            </div>
        </div>
            <div id="left_block" class="trigger_hovering phone_version blocks">
            <div class="text_start block_content phone_version">

                <p>
                Build galleries for your artworks.
                <br><br>
                Share your favorite memories.
                <br><br>
                Help others learn a new language.
                <br><br>
                Just tap, tap, display.
                <br><br>
                Like instagram, but in 3D space.
                </p> 
            </div>
        </div>
            <div id="right_block" class="trigger_hovering phone_version blocks">
            <div class="text_start block_content phone_version">
                <p>Founded on creativity and self-expression.
                <br><br>
                Challenging social media's "best" practices.
                <br><br>
                No #FollowForFollow or #LikeForLike
                <br><br>
                'Adios' to angst of what, when, and how to pose.
                <br><br>
                Let's redefine social media, one AR experience at a time.
                </p> 
            </div>
        </div>
            <div id="middle_circle" class="trigger_hovering phone_version login-box auth0-box before">
            {% if user.is_authenticated %}
            <button onclick="window.location.href='{% url 'people:me' %}'"></button>
            <a href="{% url 'people:me' %}">
                start creating
            </a>
            {% else %}
            <button onclick="window.location.href='/login/auth0'"></button>
            <a class="btn btn-primary btn-lg btn-login btn-block tt_cent" href="/login/auth0">
                Login
            </a>
            {% endif %}
        </div>
        <div id="bottom_anchors">
            <a id="l_block_anchor">about</a>
            <a>demo</a>
            <a id="r_block_anchor"> our values</a>
        </div>
    </div> <!-- end home_wrapper -->

{% endblock %}

{% block script %}

    <script src="{% static 'core/js/home.js'%}"></script>
    <script src="{% static "js/three/FirstPersonControls.js"%}"></script>
    <script type="module" src="{% static "core/js/database.js" %}"></script>

{% endblock %}