{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name='viewport' content='initial-scale=1, viewport-fit=cover' />

        <link rel="stylesheet" href="{% static 'core/css/starter.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    {% block head %}
    {% endblock %}

    </head>

    {% block body %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    </body>

</html>
