{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=1024, initial-scale=1, viewport-fit=cover">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static "atlahua/css/paint.css"%}">
        <link type="text/css" rel="stylesheet" href="{% static "atlahua/css/ipad_unique.css"%}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" crossorigin="anonymous"></script>
    </head>

    <body>

    <div id="three_canvas">
    </div>

    <!--
    <button id="draw_line"> Draw Line
    </button>

    -->


    <script src="{% static "js/three/dat.gui.min.js"%}"></script>
   {% compress js %}
    <script type="module" src="{% static "atlahua/js/ipad_draw/main.js" %}"></script>
    {% endcompress %}

    </body>

</html>
