{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
    
        <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport" />
        <link rel="stylesheet" href="{% static 'cs113/css/index.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.js"></script>

    {% block head %}
    {% endblock %}

    </head>

    <body>

    <div id="body_wrapper">
        {% block body %}
        {% endblock %}
    </div>

    {% block script %}
    {% endblock %}

    </body>

</html>
