{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name='viewport' content='initial-scale=1, viewport-fit=cover' />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/fflate@0.7.1/umd/index.min.js" crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="{% static "minervaremote/css/threejs_default.css"%}">
        <link type="text/css" rel="stylesheet" href="{% static "minervaremote/css/welcome.css"%}">
        <link type="text/css" rel="stylesheet" href="{% static "minervaremote/css/plant_page.css"%}">
    </head>

    <body>

    <div id="loading_page">
        <div id="intro_text">
            <h1> Elsewhere </h1>
            <p> collecting the adventures of minervans gone remote  </p>
            <p id="loading_icon"> &#128661 </p>
        </div>
        <button id="enter_3D_world"> enter </button>

        <div id="loading_div" class="fr ac">
            <div id="loading_bar_container">
            <div id="loading_bar"></div>
                </div>
            <div id="percentage">0%</div>
           
        </div>

    </div>
    <div id="3d_world">
    </div>
    <div id="interaction_overlay">
        <div id="instructions"><small>move with arrow keys &nbsp ← ↑ → </small></div>
        <div id="beginning_instructions_bg">
            <div id="beginning_instructions" class="fc">
                <p id="instruction_head"> Instructions </p>
                    <p>1. Visit each location to explore what remote students are up to.</p>
                    <p>2. Once you are done at a location, move with your arrow keys
                    to another location. </p>
                    <p>3. Explore! You never know what you'll find!</p>
                    <p>4. Beside using your arrow keys to walk, you can also press the AWSD keys.</p>
            </div>
        </div>
        <div id="garden_div" class="backpack_content fc">
            <h5 class="tt_cent"> &#129716 Our Garden &#129716</h5>
            <div id="planting_memories" class="fr">
            </div>
        </div>
        <div id="pet_div" class="backpack_content fc">
            <h5 class="tt_cent"> &#128021 Our Pets &#128032</h5>
            <div id="pet_memories" class="fr">
            </div>
        </div>
        <div id="art_div" class="backpack_content fc">
            <h5 class="tt_cent"> &#127912 Learning About Cool Artists &#127912 </h5>
            <div id="art_memories" class="fr">
            </div>
        </div>
        <div id="bread_div" class="backpack_content fc">
            <a id="break_the_bread" href="https://www.gather.town/" target="_blank">&#127838 Break The Bread &#129295</a>
        </div>
        <div id="day_in_the_life" class="backpack_content fc">
            <a id="explore_day_in_life" href="https://drive.google.com/drive/u/1/folders/1u8spDdtUfdEeOgn6heBcqLlYEgTf3K3W" target="_blank">
                Explore Our Days In The Life &#128694 &#128694&#127997&#8205&#9792&#65039</a>
        </div>

        <div id="page_instructions">
            <div id="model_citations">
                    <p class="section_head"> 3D Models </p>
                    <p>
                        Lowpoly Tree 3 by FLAREMEDIA is licensed under Creative Commons Attribution.
                    </p>
                    <p>
                        <a href="https://skfb.ly/6VOyo" target="_blank">"Greenhouse"</a> by julialalart is licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank"> Creative Commons Attribution </a>
                    </p>
                    <p>
                        <a href="https://skfb.ly/onrtD" target="_blank">"Ferris Wheel"</a> by neutralize is licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank"> Creative Commons Attribution </a>
                    </p>
                    <p>
                        Blue Heeler - Australian Cattle Dog by DavidA3D is licensed under Creative Commons Attribution.
                    </p>
                    <p>
                        Easel from Poly by Google by IronEqual is licensed under Creative Commons Attribution.
                    </p>
                    <p>
                        <a href="https://skfb.ly/6UUQT" target="_blank">"Stickman"</a> by KOMIRA.studio is licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank"> Creative Commons Attribution </a>
                    </p>
            </div>
         </div>

        <div id="additional_buttons">
            <div id="left_buttons">
            </div>
            <div id="right_buttons">
                <div id="instructions_question" class="gg">
                    <button id="see_site_info" class="gg_top"></button>
                    <object class="gg_bottom" type="image/svg+xml" data="{% static 'icons/info.svg' %}">Information About The Site</object>
                </div>
            </div>
        </div>

    </div>


    <h1 id="elsewhere_title">elsewhere</h1>

    <script>
        if ((/Mobi|Android/i.test(navigator.userAgent))) {
            document.getElementById('enter_3D_world').remove();
            document.getElementById('loading_div').innerHTML = "<p style='text-align:center;padding:16px;'> Mobile is coming, but you might want to try desktop first &#128521 </p>";
        }
        document.getElementById('see_site_info').addEventListener("click",function(){
            
            document.getElementById('page_instructions').classList.add("reveal");
            var delayInMilliseconds = 4500;
            setTimeout(function() {
                document.getElementById('page_instructions').classList.remove("reveal");
            }, delayInMilliseconds);

        });
       
    </script>


        <script src="{% static "js/three/dat.gui.min.js"%}"></script>
   {% compress js %}
        <script type="module" src="{% static "minervaremote/js/create_landscape.js" %}"></script>
    {% endcompress %}

    </body>

</html>
