{% extends 'core/starter.html' %}
{% load static %}


{%block head%}

<script src="https://unpkg.com/@tensorflow/tfjs-core@2.1.0/dist/tf-core.js"></script>
<script src="https://unpkg.com/@tensorflow/tfjs-converter@2.1.0/dist/tf-converter.js"></script>
<script src="https://unpkg.com/@tensorflow/tfjs-backend-webgl@2.1.0/dist/tf-backend-webgl.js"></script>
<script src="https://unpkg.com/@tensorflow-models/handpose@0.0.6/dist/handpose.js"></script>

{%endblock%}

{%block body%}

    <!-- Add an image that we will use to test -->
    <video autoplay="true" width="1080px" height="720px" ></video>
    <h5 id="post_wiki" style="color:black"></h5>
    <canvas id="canvas" width="320" height="240"></canvas>

{%endblock%}

{%block script%}

    <script src={% static 'rooms/js/edit_room/hand_gestures/takePicture.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/GestureDescription.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/GestureEstimator.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/FingerDescription.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/FingerPoseEstimator.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/gestures/LoadCamera.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/gestures/TakeImage.js' %}></script>
    <script src={% static 'rooms/js/edit_room/hand_gestures/CaptureGesture.js' %}></script>


{% endblock %}
