#program_output_wrapper, #paper_upload_wrapper{
    position: absolute;
    left:15vw;
    right:15vw;
    width:70vw;
    height:90vh;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -1px 38px 11px rgba(0, 0, 0, 0.06);
    border-radius: 50px 50px 0px 0px;
    -webkit-transition: all 1.2s ease-out;
}

#program_output_wrapper{
    z-index:-1;
    opacity:0;
}

#program_output_wrapper.showcase{
    display:flex;
    opacity:1;
    right:9vw;
    left:auto;
    width:39vw;
}

#paper_upload_wrapper.left_display{
    width:39vw;
    left:9vw;
    right:auto;
}

#paper_upload, #program_output{
    width:inherit;
    height: inherit;
}

.card_title h2{
    margin: 0px;
    font-size:30px;
    font-weight: 400;
    font-style: normal;
    margin-bottom:2px;
}

.card_title small{
    font-size:17px;
    color:#989898;
}

#abstract_input, #abstract_input label{
    width:inherit;
}

#abstract_input{
    height:inherit;
    justify-content: space-evenly;
}

#abstract_input textarea {
    border: none;
    outline: none;
    height:50vh;
    width:80%;
    background: #FAFAFA;
    color: #989898;
    border-radius: 20px;
    padding:14px;
    font-size:18px;
    margin-bottom:40px;
}

#abstract_input input{
    background: #8AB1A2;
    font-weight: bold;
    outline: none;
    border: none;
    color:white;
    padding:5px 14px;
    border-radius: 20px;
    font-size:20px;
}

#abstract_input input:hover{
    cursor:pointer;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.card_title{
    margin-top:20px;
    margin-bottom:40px;
}