

#planting_memories, #pet_memories, #art_memories{
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    width:80vw;
    height:90vh;
    overflow-y:scroll;
    flex-wrap: wrap;
}

.memory_item{
    width:128px;
    height:256px;
    border-radius:5px;
    overflow:hidden;
    border:none;
    margin:4px;
}

.memory_item img{
    width:auto;
    height:256px;
}

.meta_data{
    display:none;
    justify-content: space-around;
    width:100%;
    height:100%;
    border-radius:5px;
    background-color:rgba(255,255,255,0.4);
}

.meta_data p{
    margin:auto;
    text-align: center;
    overflow-wrap: anywhere;
}

.memory_item:hover .meta_data{
    display:flex;
}

.memory_item:hover img{
    display:none;
}

.memory_item a{
    text-align: center;
    text-decoration: none;
    color:black;
}

#break_the_bread{
    background-color:rgba(255,255,255,0.4);
    padding:6px 20px;
    border-radius:24px;
    margin:auto;
    text-decoration:none;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#break_the_bread:hover{
    color:rgba(255,255,255,1);
    background-color:black;
    cursor:pointer;
}