body{
    background-color:#9EE482;
}

#loading_page{
    background: linear-gradient(180deg, #9EE482 0%, #87DF9E 105.06%);
}

#elsewhere_title{
    position:fixed;
    color:white;
    opacity:.82;
    font-size:44px;
    bottom:5px;
    width:inherit;
    text-align:center;
}


.backpack_content.reveal{
    display:flex;
}

.backpack_content.hide{
    display:none;
}

.backpack_content{
    display:none;
    background-color: rgba(255, 255, 255, .35);  
    backdrop-filter: blur(5px);
    top:5%;
    left:2.5%;
    position:fixed;
    height:90%;
    width:95%;
    border-radius:20px;
    box-sizing: border-box;
    padding:40px;
    z-index:6px;
}

.backpack_content h5{
    font-size:25px;
    margin:0px;
}

#go_back_button{
    position:fixed;
    right:40px;
    top:30px;
    width:40px;
    height:40px;
}

#go_back_button button{
    width:40px;
    height:40px;
    background:none;
    border:2px solid black;
    border-radius:120px;
    transition: width 0.1s ease, height 0.1s ease;
}

#go_back_button button:hover{
    width:44px;
    height:44px;
    background:none;
    cursor:pointer;
}

#go_back_button object{
    margin:auto;
    width:35px;
    height:35px;
}
