body {
    background: linear-gradient(270.09deg, #FFE863 21.22%, #FBD748 50.22%, #F5BD1F 94.1%);
}

#home_wrapper{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

#wrap_explore{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height:100%;
}


#wrap_explore button{
    opacity:100%;
    z-index: 4;
    grid-area: 1/1/2/2;
    background: linear-gradient(180.38deg, #722E9A 0.33%, #47297B 99.67%);
    transition: height .3s ease-in-out, width .3s ease-in-out;
    width: 300px;
    height: 300px;
    border-radius: 400px;

}

#wrap_explore button p{
    margin-top:auto;
    margin-bottom:auto;
    font-size: 20px;
    font-weight: bold;
    opacity:0;
    color:white;
    transition:opacity .3s ease-in-out;
}


#wrap_explore button:hover{
    width: 330px;
    height: 330px;
    cursor:pointer;
}

#wrap_explore button:hover p{
    opacity:1;
}

#title_head{
    margin-left:30px;
    justify-content: center;
}

#title_head h1{
    color:#47297B;
}

#title_head h2{
    color:#47297B;
}

@media (max-width: 900px){
    #pitch{
        flex-direction: column;
        align-items: center;
    }
    #circle_start{
        margin:30px
    }
    #title_head{
        align-items: center;
    }
    #title_head h1, #title_head h2{
        text-align: center;
        margin:0px;
    }
}